.header{
    min-height: 50px;
    background-color:gray;
    padding-top: 10px;
}

.main-content{
    min-height: 250px;
    /*background-color: lightgrey;*/
    border-left: 2px solid lightgrey;
    border-right: 2px solid lightgrey;
}

.footer{
    min-height: 50px;
    background-color:gray;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.logo-car{
    margin-top: -12px;
    margin-right: 5px;
}
.main-menu .nav a{
    font-size: 18px;
}